@model List<ShoppingCartPractice.Models.ViewModel.ProductListViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>商品列表</h2>
<table class="table">
    <thead>
        <tr>
            <td>
                商品編號
            </td>
            <td>
                商品名稱
            </td>
            <td>
                商品價格
            </td>
            <td>
                商品描述
            </td>
            <td>
                商品分類編號
            </td>
            <td>
                商品生效日
            </td>
            <td>
                商品預設圖片編號
            </td>
            <td>
                商品庫存量
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @item.CategoryId
            </td>
            <td>
                @item.PublishDate
            </td>
            <td>
                @item.DefaultImageId
            </td>
            <td>
                @item.Quantity
            </td>
        </tr>
        }
    </tbody>
</table>
